<div class="modal" id="modal">
  <div class="modal-header">
    <div class="title">Example Modal</div>
    <button data-close-button class="close-button">
      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22.2947 19.9904L39.5254 2.75305C39.8294 2.44775 39.9999 2.03449 39.9997 1.60378C39.9994 1.17308 39.8283 0.760046 39.5239 0.455145C38.9147 -0.150695 37.8416 -0.153755 37.2262 0.458205L20 17.6956L2.76773 0.453615C2.15541 -0.150695 1.08232 -0.147636 0.473055 0.456675C0.32183 0.607207 0.202118 0.786333 0.120904 0.9836C0.0396906 1.18087 -0.00139782 1.39232 3.62863e-05 1.60563C3.62863e-05 2.04012 0.168425 2.44707 0.473055 2.74846L17.7038 19.9889L0.474586 37.2309C0.170546 37.5366 0.000279749 37.9505 0.00114069 38.3815C0.00200164 38.8126 0.17392 39.2257 0.479179 39.5303C0.774624 39.8225 1.19253 39.9908 1.62422 39.9908H1.63341C2.06662 39.9893 2.48453 39.8195 2.77386 39.5242L20 22.2868L37.2323 39.5288C37.5369 39.8317 37.9441 40 38.3758 40C38.5893 40.0006 38.8007 39.959 38.9981 39.8777C39.1954 39.7963 39.3747 39.6768 39.5256 39.5259C39.6766 39.3751 39.7962 39.1959 39.8776 38.9987C39.959 38.8015 40.0006 38.5901 40 38.3768C40 37.9438 39.8316 37.5353 39.5254 37.2339L22.2947 19.9904Z" fill="white" fill-opacity="0.5"/>
      </svg>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
      ducimus laboriosam minima cumque dolor, accusantium deserunt
      architecto cupiditate laudantium alias aspernatur qui adipisci iure,
      quis reiciendis vero velit asperiores harum!
    </p>
  </div>
</div>
<div id="overlay"></div>
<!-- /.modal -->