@mixin media($size)
  @media (min-width: $size)
    @content

@mixin resolution($size)
  @media (min-resolution: $size)
    @content



@mixin pseudo($w, $h)
  content: ''
  display: block
  position: absolute
  width: $w
  height: $h

@mixin gradient()
  background: rgb(0,0,0)
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%)

@function px-to-rem($size, $basicSize: 16px)
  @return $size / $basicSize#{rem}